.card{
    background: rgb(69, 67, 67);
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(232, 223, 223, 0.996);
    width: 600px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}